# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fb846d093f04d5647f701c7f92956955ad3cf2faced79b211c53edc437500c2ed534ebf53abec8c99a54634321e795c1226df06b6b3209e93c0f827f48031a5d

test:
  secret_key_base: e13fd7a0a20c3c6aa331b4f762c0956bf95a24793d41164c0003b8ab924cd1003e7cf4b883beed881c6152bc10b45bb0f605381c5d5385b73ec9d8754165d9c0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
